@import 'variables';
@import 'zocial';

$row-height: 250px;

body {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-right {
  margin-right: 0;
}

.navbar-logout {
  vertical-align: middle;
  display: inline-block;

  button {
    margin-top: 5px;
  }
}

.navbar .user-profile {
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;

  span {
    margin-right: 5px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.navbar.navbar-default .navbar-brand {
  color: $text-primary;
  transition: text-shadow 0.3s;

  &:hover {
    text-shadow: 1px 1px 2px gray;
  }
}

.landing-index {
  .primary {
    box-shadow: 0px 2px 10px 2px gray;
    background-color: $primary;

    h2 {
      text-align: center;
    }
  }

  .facebook {
    text-align: center;
    position: relative;

    .header-foreground {
      position: absolute;
      top: 40%;
      text-align: center;
      width: 100%;
      color: white;
      text-shadow: black 0 0 4px;
    }

    .header-background {
      max-width: 100%;
      opacity: 0.9;
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }
  }

  .featured {
    .img-frame {
      height: $row-height;;
    }

    .center-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      max-height: 90%;
      max-width: 90%;
    }
  }

  .faq {
    color: $text-secondary;
    text-align: center;
    padding-top: 50px;
  }

  .row {
    min-height: $row-height;
  }
}

.description {
  white-space: pre-line;
}
