@import 'variables';
@import 'zocial';

$row-height: 250px;

.header-background {
  max-width: 100%;
  opacity: 0.9;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.cover-photo {
  width: 828px;
  height: 315px;
  background-size: 100%;
}


body {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-right {
  margin-right: 0;
}

.navbar-logout {
  vertical-align: middle;
  display: inline-block;

  button {
    margin-top: 5px;
  }
}

.navbar .user-profile {
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;

  span {
    margin-right: 5px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.navbar.navbar-default .navbar-brand {
  color: $text-primary;
  transition: text-shadow 0.3s;

  &:hover {
    text-shadow: 1px 1px 2px gray;
  }
}

.top-description {
	margin-left: 10%;
	margin-right: 10%;
}

.framed {
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px -1px 0px 14px #A8744F, 0px 0px 0px 18px #7A553B;
}

.top-description .col-md-8 {
  font-size: 25px;
  padding-top: 20px;

  .glyphicon-time {
    vertical-align: middle;
  }

  h2 {
    font-size: 40px;
    text-align: center;
  }
}

.top-description ul {
  list-style-type: none;
}

.event-frame .framed {
	margin-top: 40px;
  margin-bottom: 40px;
	color: $text-secondary;
	text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;

  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .glyphicon-tree-conifer {
		padding-top: 20%;
		font-size: 5vw;
	}

	.row {
		margin-left: auto;
		margin-right: auto;
		width: 80%;

		.col-md-8 {
			padding-right: 0px;
			padding-left: 0px;
		}

		.filler {
			width: 100%;
		}
	}

	.filler {
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		background-color: #AAAAAA;
		height: 20px;
		width: 80%;
		border-radius: 15px;
	}
}

.what-if {
  border-top: 2px dashed #AAAAAA;
  border-bottom: 2px dashed #AAAAAA;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 20px;

  margin-top: 20px;
  margin-bottom: 20px;

  h2 {
    color: $text-secondary;
    font-size: 40px;
  }

  em, span {
    font-style: normal;
    color: #A3E2E3;
  }
}

.gallery-intro {
  h3 {
    text-align: center;
  }

  em {
    font-style: normal;
    color: #A3E2E3;
  }

  .framed {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.try-now {
  text-align: center;
  border-bottom: 2px dashed #AAAAAA;
  padding-bottom: 20px;
}

.begin-description {
  text-align: center;

  h2 {
    font-size: 60px;
  }
}

.for-dancers {
  border-bottom: 2px dashed #AAAAAA;
  padding-bottom: 20px;

  .cta {
    text-align: center;

    h2 {
      padding: 0px;
    }
  }

  .for-dancers-icon {
    padding-top: 5%;
    text-align: center;
  }

  h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
  }

  ul {
    list-style-type: none;
    font-size: 25px;
  }

  li {
    padding-bottom: 20px;
  }

  .for-dancers-icon .glyphicon {
    font-size: 25vw;
    color: #A3E2E3;
  }

  .glyphicon-check {
    font-size: 40px;
    color: #81EB9D;
    vertical-align: middle;
  }

  .checklist {
    vertical-align: middle;
  }

  em {
    font-style: normal;
    color: #A3E2E3;
  }
}

.event-search {
  border-bottom: 2px dashed #AAAAAA;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 50px;
}

.footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #A3E2E3;
  background: #727272;

  a {
    color: #A3E2E3;
  }

  .row {
    padding-bottom: 10px;
  }

}

.landing-index {
  .primary {
    box-shadow: 0px 2px 10px 2px gray;
    background-color: $primary;

    h2 {
      text-align: center;
    }
  }

  .facebook {
    position: relative;
    z-index: 1;

    text-align: center;
    position: relative;

    .header-foreground {
      position: absolute;
      top: 40%;
      text-align: center;
      width: 100%;
      color: white;
      text-shadow: black 0 0 4px;
    }
  }

  .featured {
    position: relative;
    z-index: 2;

    .glyphicon-hand-right {
      color: white;
      font-size: 200px;
    }

    img {
      margin-left: auto;
      margin-right: auto;
    }

    .img-frame {
      text-align: center;
    }

    .center-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      max-height: 90%;
      max-width: 90%;
    }
  }

  .faq {
    background-color: $primary;
    color: $text-primary;
    text-align: center;
    padding-top: 20px;

    .faq-title {
      padding-bottom: 10px;
    }
  }
}

.description {
  white-space: pre-line;
}

.upcoming {
  text-align: center;

  .thumbnail {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
    min-height: 0px;
  }

  .event-description {
     padding-bottom: 15px;
  }
}


.carousel-inner img {
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  padding-top: 20px;
}

.separated-top {
  border-top: 2px dashed #AAAAAA;
}

.separated-bottom {
  border-bottom: 2px dashed #AAAAAA;
}

.gallery-picture {
  width: 100%;
}

.gallery-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery-title {
  margin-bottom: 5px;
}

.gallery-date {
  margin-bottom: 10px;
}

.header .glyphicon {
  font-size: 100px;
  color: $primary;
}

.gallery-header {
  padding-top: 50px;
}

.first-frame {
  border-top: 5px dashed $primary;
  margin-top: 20px;
}

.banner-ad {
  text-align: center;

  .ad {
    margin-left: auto;
    margin-right: auto;
    width: 728px;
    height: 90px;
    background-color: $accent;
  }
}


.event-show-header {
  .cover-photo {
    margin-right: auto;
    margin-left: auto;
  }
}

.event-show-ad {
  padding-top: 20px;
}

.row.blocked {
  text-align: center;
}

.cover-photo-frame {
  position: relative;
  box-sizing: border-box;
  padding: 20%;
  background-size: 100%;
}

.oops {
  text-align: center;
}
