<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {{#each items as |item|}}
      <div class="item {{if item.active 'active'}}">
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/12813973_1029577450432208_479867144164926761_n.png?oh=2c0d5f86b7297ac881801a923839ef42&oe=5799E298" alt="...">
        <div class="carousel-caption">
        ...
        </div>
      </div>
    {{/each}}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" {{action 'previousSlide'}} role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
