<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to "index" classNames='navbar-brand'}} DanceFrame {{/link-to}}
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a>Events</a>
        </li>
        <li>
          <a>Profile</a>
        </li>
      </ul>
      {{#if auth.user}}
        <div class="navbar-right">
          <a href="users/sign_out" class="navbar-logout"><button class="zocial facebook">Logout</button></a>
          {{#link-to 'users.show' 'me' classNames='user-profile btn btn-default navbar-btn'}}
            <span>{{auth.user.name}}</span>
            <img src='{{auth.user.image}}'>
          {{/link-to}}
        </div>
      {{else}}
        <a href="users/auth/facebook">
          <button type="button" class="btn btn-default navbar-btn navbar-right zocial facebook">Sign in</button>
        </a>
      {{/if}}
    </div>
  </div>
</nav>
<div class="container-fluid">
  {{outlet}}
</div>

<footer class="footer">
  <div class="row">
    <div class="col-md-4">
      Events
    </div>
    <div class="col-md-4">
      Profile
    </div>
    <div class="col-md-4">
      Contact Us
    </div>
  </div>
  Donate
</footer>
