<div class="landing-index">
  <div class="row facebook">
    <img src='assets/images/dance-background.jpg' class="header-background">
    <div class='header-foreground'>
      {{#if auth.user}}
        <h1>Welcome {{auth.user.name}}</h1>
        <h2>Search for upcoming events!</h2>
        <a href="users/sign_out"><button class="zocial facebook">Log out of Danceframe</button></a>
      {{else}}
        <h2>Log in with Facebook!</h2>
        <a href="users/auth/facebook"><button class="zocial facebook">Log in with Facebook</button></a>
      {{/if}}
    </div>
  </div>
  <div class="row top-description">

		<div class="col-md-4 event-frame">
			<div class="framed">
				<h3> Event </h3>
				<div class="row">
					<div class="col-md-4">
						<span class="glyphicon glyphicon-tree-conifer"></span>
					</div>
					<div class="col-md-8">
						<div class="filler"></div>
						<div class="filler"></div>
						<div class="filler"></div>
					</div>
				</div>
				<div class="filler"></div>
				<div class="filler"></div>
			</div>
		</div>
    <div class="col-md-8">
      <h2> How much time do you waste keeping track of your dance events? </h2>
      <ul>
        <li><span class="glyphicon glyphicon-time"></span>
          Did you remember to buy the weekend pass?
        </li>
        <li><span class="glyphicon glyphicon-time"></span>
          Is there still room in the hotel block?
        </li>
        <li><span class="glyphicon glyphicon-time"></span>
          Do you know how you're getting there?
        </li>
      </ul>
    </div>
  </div>
  <div class="row what-if">
    <h2> What if <em>someone else</em> kept track of everything for you? </h2>
  </div>
  <div class="row begin-description">
    <h2>
      DanceFrame
    </h2>
  </div>
  <div class="row gallery-intro">
    <h3> Just add the events your interested in to your '<em>Gallery</em>' and let us keep track of the details for you! </h3>

    <div class="row gallery-row">
      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>

      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>

      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>
    </div>

    <div class="row gallery-row">
      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>

      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>

      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row try-now">
    <h2> Log in now to try it out! </h2>
    <a href="users/auth/facebook"><button class="zocial facebook">Log in with Facebook</button></a>
  </div>
  <div class="row for-dancers">
    <div class="col-md-4 for-dancers-icon">
      <span class="glyphicon glyphicon-calendar"></span>
    </div>
    <div class="col-md-8 for-dancers-reasons">
      <h2> DanceFrame for Dancers </h2>
      <ul>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Keep track of events you're going to</span>
        </li>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Find friends who are going to the same event</span>
        </li>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Build a personal schedule for each event</span>
        </li>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Stay updated with new events</span>
        </li>
      </ul>
      <div class="row cta">
        <h2>Log in now to try it out!</h2>
        <a href="users/auth/facebook"><button class="zocial facebook">Log in with Facebook</button></a>
      </div>
    </div>
  </div>

  <div class="row for-dancers for-directors">
    <div class="col-md-6 for-dancers-reasons">
      <h2> DanceFrame for Event Directors </h2>
      <ul>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Automatic Facebook event integration</span>
        </li>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Add staff, pros, and schedules to your <em>Frame</em></span>
        </li>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Grow how many dancers see your event</span>
        </li>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">We'll get your event on it's feet for <em>free</em></span>
        </li>
      </ul>
      <div class="row cta">
        <h2>Contact us now to build your <em>Frame</em>!</h2>
      </div>
    </div>
    <div class="col-md-6 for-dancers-icon">
      <span class="glyphicon glyphicon-bullhorn"></span>
    </div>
  </div>
  <div class="row for-dancers for-pros">
    <div class="col-md-4 for-dancers-icon">
      <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="col-md-8 for-dancers-reasons">
      <h2> DanceFrame for Pros </h2>
      <ul>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Build your <em>Pro</em>file with videos, pictures, and links</span>
        </li>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Let dancers know what events you're going to</span>
        </li>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Let others know if you can give private lessons</span>
        </li>
        <li><span class="glyphicon glyphicon-check"></span>
          <span class="checklist">Advertise directly to dancers</span>
        </li>
      </ul>
      <div class="row cta">
        <h2>Contact us now to build your <em>Pro</em>file!</h2>
      </div>
    </div>
  </div>
</div>

