<div class="landing-index">
  <div class="row facebook">
    <img src='assets/images/dance-background.jpg' class="header-background">
    <div class='header-foreground'>
      {{#if auth.user}}
        <h1>Welcome {{auth.user.name}}</h1>
        <h2>Search for upcoming events!</h2>
        <a href="users/sign_out"><button class="zocial facebook">Log out of Danceframe</button></a>
      {{else}}
        <h2>Log in with Facebook!</h2>
        <a href="users/auth/facebook"><button class="zocial facebook">Log in with Facebook</button></a>
      {{/if}}
    </div>
  </div>
  <div class="row top-description">

		<div class="col-md-4 event-frame">
			<div class="framed">
				<h3> Event </h3>
				<div class="row">
					<div class="col-md-4">
						<span class="glyphicon glyphicon-tree-conifer"></span>
					</div>
					<div class="col-md-8">
						<div class="filler"></div>
						<div class="filler"></div>
						<div class="filler"></div>
					</div>
				</div>
				<div class="filler"></div>
				<div class="filler"></div>
			</div>
		</div>
    <div class="col-md-8">
      <h2> How much time do you waste keeping track of your dance events? </h2>
      <ul>
        <li><span class="glyphicon glyphicon-time"></span>
          Did you remember to buy the weekend pass?
        </li>
        <li><span class="glyphicon glyphicon-time"></span>
          Is there still room in the hotel block?
        </li>
        <li><span class="glyphicon glyphicon-time"></span>
          Do you know how you're getting there?
        </li>
      </ul>
    </div>
  </div>
  <div class="row what-if">
    <h2> What if <em>someone else</em> kept track of everything for you? </h2>
  </div>
  <div class="row begin-description">
    <h2>
      DanceFrame
    </h2>
  </div>
  <div class="row gallery-intro">
    <h3> Just add the events your interested in to your '<em>Gallery</em>' and let us keep track of the details for you! </h3>

    <div class="row gallery-row">
      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>

      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>

      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>
    </div>

    <div class="row gallery-row">
      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>

      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>

      <div class="col-md-4 event-frame">
        <div class="framed">
          <h3> Event </h3>
          <div class="row">
            <div class="col-md-4">
              <span class="glyphicon glyphicon-tree-conifer"></span>
            </div>
            <div class="col-md-8">
              <div class="filler"></div>
              <div class="filler"></div>
              <div class="filler"></div>
            </div>
          </div>
          <div class="filler"></div>
          <div class="filler"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row try-now">
    <h2> Log in now to try it out! </h2>
    <a href="users/auth/facebook"><button class="zocial facebook">Log in with Facebook</button></a>
  </div>
  <div class="row for-dancers">
    <h2> DanceFrame for Dancers </h2>
  </div>
</div>

